body{
    background-image: linear-gradient(#2193b0 ,  #6dd5ed);
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
.defaultStart {
    background-color:  white;
    border: none;
    font-size: 50px;
    width: 225px;
    height: 100px;
    transition-duration: 0.4s;
    margin: 20px;

}
.defaultStart:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.disappear {
    display:none;
}

.options{
    width:140px;
    height:165px;
    font-size: 40px;
    transition-duration: 0.6s;
    background-color: white;
    border: none;
    margin:2px

}
.options:hover{
    background-color: red;
 }
 .nextDiv{
     margin-top: 20px;
 }
 .nextButton {
    width:70px;
    height:35px
 }